body {
    margin: 0;
    padding: 0;
    background-color: #dde5e7;
    font-family: 'PT Serif', serif;
    /* change made here */
    font-weight: 700;
    /* addition here */
    color: #000000;
    font-size: 100%;
}

header,
section,
footer {
    width: 80%;
    margin: 10px auto;
}

h1 {
    font-size: 2.5em;
    letter-spacing: .04em;
}

h2 {
    font-style: normal;
    font-size: 2em;
    letter-spacing: .04em;
}

/* body elements */
p {
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.5em;
}

a {
    color: #005daa;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

li {
    margin: 10px 0;
}

hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: #d3d3d3;
}

.caption {
    margin: 0 0 20px 0;
    display: block;
}

/* map elements */
#map {
    width: 100%;
    height: 540px;
    margin: 10px auto;
    border: 2px solid #d3d3d3;
}

@media screen and (max-width: 900px) {

    .first-column,
    .second-column {
        width: 100%;
    }
}